* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

#section1 {
    height: 90vh;
    width: 100%;
}

#section2 {
    position: absolute;
    height: 130vh;
    width: 100%;
    background-color: black;
    color: white;
}

h1 {
    margin: 8vh 2vw 4vh 2vw;
    font-weight: 700;
    font-size: 36px;
}

.component {
    position: absolute;
    border: 2px solid black;
    width: 96%;
    height: 65vh;
    left: 2%;
    padding: 20px;
    font-size: 20px;
}

.component div {
    margin-bottom: 20px;
}

.component1 {
    border: 2px solid white;
}

input {
    margin: 0 2vw;
    display: block;
    margin-bottom: 4vh;
    width: 95%;
    background-color: black;
    color: white;
    border: 2px solid white;
    height: 3rem;
    padding-left: 1rem;
    font-size: larger;
}

button {
    margin: 0 2vw;
    width: 10%;
    height: 2.7rem;
    margin-bottom: 4vh;
}

#errorMsg {
    margin: 0 2vw;
    font-size: larger;
    color: red;
}